/* Global Styles */
body {
    font-family: 'Roboto', sans-serif;
}

.title-effect {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease-in-out;
}

.title-effect:hover {
    transform: scale(1.05);
}

.back-to-top {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background-color: #4CAF50;
    color: white;
    padding: 0.75rem 1rem;
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 1.5rem;
    display: none;
    cursor: pointer;
}

.back-to-top:hover {
    background-color: #45a049;
}

/* Adicione mais estilos específicos aqui, conforme necessário */
