body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #f4f4f4, #eaeaea);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #7d5b3e;
    color: white;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

.intro-section {
    display: flex;
    align-items: center;
    padding: 40px 20px;
}

.profile-image {
    width: 200px;
    height: auto;
    border-radius: 50%;
    margin-right: 20px;
}

.about-me {
    max-width: 600px;
}

.projects-section {
    padding: 40px;
}

.project-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.project-card {
    background-color: #e2c8b4;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    transition: transform 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.project-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.project-card h3 {
    margin: 10px 0 5px;
    font-weight: 700; /* Mais forte para destacar */
}

.project-card p {
    margin: 0;
    font-weight: 400; /* Normal para o texto */
}

.project-card:hover {
    transform: scale(1.05);
}

footer {
    background-color: #6F4C3E;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.social-links {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.social-links a {
    margin: 0 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s ease;
}

.social-links a:hover {
    text-decoration: underline;
    color: #f4f4f4; /* Ou qualquer cor que você preferir */
}

/* Responsividade */
@media (max-width: 768px) {
    .project-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .project-container {
        grid-template-columns: 1fr;
    }
}
